APP_NAME = FileMailer
BASE_BUNDLE_ID = org.filemailer.FileMailer
DEVELOPMENT_TEAM =
GOOGLE_CLIENT_ID =
GOOGLE_REDIRECT_SCHEME =
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 6
GOLDEN_GATE_FEATURES = YES
ENABLE_GMAIL_HISTORY_IMPORT = NO

MACOSX_DEPLOYMENT_TARGET = 26.0
SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) GOLDEN_GATE_FEATURES
CODE_SIGN_STYLE = Automatic
CLANG_ENABLE_MODULES = YES
ENABLE_USER_SCRIPT_SANDBOXING = YES
